<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions List</title>

    <link th:href="@{/styles/index.css}" rel="stylesheet" />
    <link th:href="@{/styles/input.css}" rel="stylesheet" />
    <link th:href="@{/styles/submit_button.css}" rel="stylesheet" />
    <link th:href="@{/styles/delete_button.css}" rel="stylesheet" />
</head>
<body>
    <div sec:authorize="!isFullyAuthenticated()">
        <form method="get" th:action="@{/login/}" class="login_button_container">
            <button class="submit_button" type="submit">Login</button>
        </form>

        <form method="get" th:action="@{/registration}" class="registration_button_container">
            <button class="submit_button" type="submit">Registration</button>
        </form>
    </div>
    <form sec:authorize="isFullyAuthenticated()"
          method="post" th:action="@{/logout}" class="logout_button_container">
        <button class="submit_button" type="submit" value="Logout">Logout</button>
    </form>


    <form method="post" th:object="${questionSubstr}" th:action="@{/findQuestion}">
        <div class="col-3">
            <input class="effect-8" th:field="*{value}" type="text" placeholder="Enter words to find question ...">
            <span class="focus-border"><i></i></span>
        </div>
        <button class="submit_button" type="submit">Find</button>
    </form>

    <h1>Questions:</h1>
    <ul th:each="question : ${questions}">
        <li>
            <a th:href="@{/questions/{id}(id=${question.id})}"
               th:text="${question.text}"/>
            <form sec:authorize="hasRole('ADMIN')"
                  method="post" th:action="@{'/questions/{id}/delete'(id=${question.id})}">
                <button class="delete-button" type="submit">Delete</button>
            </form>
        </li>
    </ul>
    <p th:unless="${questions.iterator().hasNext()}">No questions found</p>

    <form sec:authorize="isFullyAuthenticated()"
          method="post" th:object="${newQuestion}">
        <div class="col-3">
            <input class="effect-8" th:field="*{text}" type="text" placeholder="Enter question" required>
            <span class="focus-border"><i></i></span>
        </div>
        <button class="submit_button" type="submit">Create question</button>
    </form>
</body>
</html>