<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/styles/registration.css}" rel="stylesheet" />
</head>
<body>

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h2 class="active">Sign In</h2>
            <h2 class="inactive">Sign Up</h2>

            <form th:action="@{/login}" method="post">  <!-- VERY IMPORTANT TO BE LIKE THIS-->
                <div th:if="${param.error}">
                    <p class="invalid-text">Invalid data</p>
                </div>
                <input type="text"
                       id="login" class="fadeIn second" name="username" placeholder="username" required>
                <input type="password"
                       id="password" class="fadeIn third" name="password" placeholder="password" required>
                <input type="submit" value="Log In"
                       class="fadeIn fourth">
            </form>
        </div>
    </div>

</body>
</html>