<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link th:href="@{/styles/registration.css}" rel="stylesheet" />
</head>
<body>

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h2 class="inactive">Sign In</h2>
            <h2 class="active">Sign Up</h2>

            <form method="post" th:object="${userForm}">
<!--                    <p class="invalid-text">Invalid data</p>-->

                <input type="text" th:field="*{username}"
                       id="login" class="fadeIn second" name="login" placeholder="username">
                <p th:if="@{fields.hasErrors('username')}" th:errors="*{username}">Incorrect username</p>

                <input type="password" th:field="*{password}"
                       id="password" class="fadeIn third" name="login" placeholder="password">
                <p th:if="@{fields.hasErrors('password')}" th:errors="*{password}">Incorrect password</p>


                <input type="password" th:field="*{passwordConfirm}"
                       id="password" class="fadeIn third" name="login" placeholder="confirm password">
                <p th:if="@{fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">Passwords not the same</p>

                <input type="submit" value="Register"
                       class="fadeIn fourth">
            </form>
        </div>
    </div>

</body>
</html>