<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link th:href="@{/styles/registration.css}" rel="stylesheet" />
</head>
<body>

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h2 class="inactive">Sign In</h2>
            <h2 class="active">Sign Up</h2>

            <form method="post" th:object="${userForm}">
                <!-- Error handling -->
                <p class="error-text" th:text="${usernameError}"></p>  <!-- Won't be displayed, if usernameError not exists -->
                <p class="error-text" th:text="${passwordError}"></p>
                <p class="error-text" th:if="@{fields.hasErrors('username')}" th:errors="*{username}"></p>
                <p class="error-text" th:if="@{fields.hasErrors('password')}" th:errors="*{password}"></p>


                <input type="text" th:field="*{username}"
                       id="login" class="fadeIn second" name="username" placeholder="username">
                <input type="password" th:field="*{password}"
                       id="password" class="fadeIn third" name="password" placeholder="password">
                <input type="password" th:field="*{passwordConfirm}"
                       id="password" class="fadeIn third" name="passwordConfirm" placeholder="confirm password">
                <input type="submit" value="Register"
                       class="fadeIn fourth">
            </form>
        </div>
    </div>

</body>
</html>